
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Good!<span class="glyphicon glyphicon-ok"></span></a></p>-->


<div class="jumbotron">
<form>
  <div class="left">


    <input type="file"  accept=".xls,.xlsx,.ods" file-read=""  multiple="false"  id="fileInput" name="Good"  />
  </div>

</form>

</div>



